%h1-style {
	font-family: $title-font;
	font-size: 1.625rem;
	font-weight: $font-weight-semi-bold;
	letter-spacing: 0.0313rem;
	line-height: 2.25rem;

	@include breakpoint-up(md) {
		font-size: 2rem;
		letter-spacing: 0.0387rem;
		line-height: 2.625rem;
	}

	@include breakpoint-up(lg) {
		font-size: 2.5rem;
		letter-spacing: 0.05rem;
		line-height: 3.25rem;
	}
}

%h2-style {
	font-family: $title-font;
	font-size: 1.375rem;
	font-weight: $font-weight-medium;
	letter-spacing: 0.0938rem;
	line-height: 2rem;

	@include breakpoint-up(md) {
		font-size: 1.5rem;
		line-height: 2.125rem;
	}
}

%h3-style {
	font-family: $title-font;
	font-size: 1.125rem;
	font-weight: $font-weight-semi-bold;
	letter-spacing: 0.075rem;
	line-height: 1.625rem;

	@include breakpoint-up(lg) {
		font-size: 1.375rem;
		letter-spacing: 0.0938rem;
		line-height: 2rem;
	}
}

%h4-style {
	font-family: $title-font;
	font-size: 0.875rem;
	font-weight: $font-weight-bold;
	letter-spacing: 0.0625rem;
	line-height: 1.375rem;

	@include breakpoint-up(md) {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

%h5-style {
	font-family: $title-font;
	font-size: 0.625rem;
	font-weight: $font-weight-medium;
	letter-spacing: 0.08rem;
	line-height: 1rem;
	margin: 1rem 0;

	@include breakpoint-up(lg) {
		font-size: 0.75rem;
	}
}

%body-font {
	font-family: $body-font-family;
	font-size: 1rem;
	font-weight: $font-weight-normal;
	letter-spacing: 0rem;
	line-height: 1.75rem;

	@include breakpoint-up(lg) {
		font-size: 1.125rem;
		letter-spacing: 0.019rem;
		line-height: 2rem;
	}
}

%button-primary {
	align-items: center;
	background-color: $button-primary-background-color;
	border: 0.125rem solid $button-primary-background-color;
	border-radius: 0;
	color: $button-primary-color;
	cursor: pointer;
	display: inline-block;
	font-family: $title-font;
	font-size: 0.75rem;
	font-weight: $font-weight-medium;
	letter-spacing: 0.045rem;
	line-height: 1.125rem;
	padding: 0.625rem 1rem;
	text-align: center;
	text-transform: uppercase;
	transition: background-color $default-transition;

	&:hover,
	&:active {
		background-color: $button-primary-color;
		color: $body-font-color;
	}
}

%image-caption {
	color: $color-grey-35;
	font-family: $title-font;
	font-size: 0.5625rem;
	font-weight: $font-weight-medium;
	letter-spacing: 0.0125rem;
	line-height: 0.8125rem;
	text-align: left;
}

%ad-label {
	color: $ad-label-font-color;
	display: block;
	font-family: $title-font;
	font-size: 0.5rem;
	font-weight: $font-weight-medium;
	letter-spacing: 0.0875rem;
	line-height: 0.625rem;
	margin-bottom: 0.875rem;
	text-align: center;
}

%load-more {
	@extend %button-primary;
	background-color: $food-red;
	border: 0.125rem solid $food-red;
	font-size: 0.875rem;
	font-weight: 600;
	letter-spacing: 0.05rem;
	line-height: 1.25rem;
	padding: 1.375rem;

	&:hover {
		background-color: $color-amour;
		cursor: pointer;
	}

	&:hover a {
		color: $black-bg-color;
		cursor: pointer;
	}
}

%load-more-link {
	color: $button-primary-color;
}